

html{
  font-size:62.5%; /*default is 16px x .62.5 = 10px = 1rem */
  box-sizing: border-box;

}
body{
  margin: 0 ; 
  height:100vh;
  font-size:1.6rem;
  font-family:  Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height:100%;
}

/*Layout */
.grid-container{
  display:grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height:100%;
}
header{
  grid-area: header;
  background-color:#ffee00e0;

}
main{
  grid-area:main;
  padding:1rem;

}
footer{
  grid-area:footer;
  background-color:rgb(255, 174, 0);
  color:rgb(255, 255, 255);
}
/*Common*/
h1{
  font-size:1.8rem;
  padding: rem 0;
}
h2{
  font-size:1.6rem;
  padding: rem 0;
}

a{
  text-decoration:none;
}
a:hover{
  color:rgb(10, 75, 2)
}
/*Header*/
header a{
  color:rgb(10, 110, 240);
  padding: 1rem;

}

ul{
  padding:0;
  margin:0;
  list-style-type:none;
}

li{
  margin-top:1rem;
}

input,
select,
textarea,
button{
  padding:1rem;
  border-radius:0.5rem;
  border: 0.1rem lightgray solid;
  font-family:  Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button{
  background-color:lightgoldenrodyellow;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover{
  border:0.1rem darkgreen solid;
}

button.primary{
  background-color:gold;
}

button.block{
  width:100%;
}

/*HEADER*/

a.brand{
  color:rgb(230, 100, 14);
  font-size:3rem;
  font-weight: bold;
}

.badge{
  background-color:red;
  color:white;
  border-radius:50%;
  padding:0.2rem 0.7rem;
  font-size:1.4rem;
  margin-left:0.2rem;
}

.row{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;

}

.row.center{
  justify-content: center;
}

.row.top{
  align-items:flex-start;
}

.col-1{
  flex:1 1 25rem;
}

.col-2{
  flex:2 1 50rem;
}

.min-30{
  min-width: 30rem;
}

.description{
  margin-top:0.8rem;
}

/*Image */
img{
  border-radius: 0.5rem;
 
}

img.small{
  max-width:5rem;
  width:100%;
}

img.medium{
  max-width:29rem;
  width:100%;
}

img.large{
  width:90%;
  padding:10px;

 

}


/*Card*/

.card{
  border:0.1rem white solid;
  background-color: lightblue;
  border-radius: 0.5rem;
  margin:1rem;

}

.card-body{
  padding:1rem;

}
.card-body>*{
margin-bottom:0.5rem;
}

.price{
  font-size:2rem;
}

/*Rating*/
.rating span {
  color:gold;
  margin:0.1rem;
}

.rating span:last-child{
  color:black;
}

/*Alert*/

.loading{
  display:block !important;
}
.success{
  color:darkgreen;
}

.danger{
  color:red;
}

.alert{
  padding:1rem;
  border:0.1rem solid transparent;
  border-radius:0.5rem;
}

.alert-info{
  color:purple;
  background-color: yellow;
}

.alert-danger{
  color:darkred;
  background-color:lightcoral;
}


/*FORM*/
.form{
  max-width: 60rem;
  margin:0 auto;

}
.form>div{
  display:flex;
  flex-direction:column;
  margin:1rem;

}
.form label{
  margin:1rem 0;
 
}

/*Dropdown*/
.dropdown{
  display:inline-block;
  position:relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Checkout steps*/

.checkout-steps>div{
  border-top:0.3rem white solid;
  color: gray;
  flex: 1;
  padding:1rem;
  font-weight: bold;
}

.checkout-steps> div.active{
border-top-color: orangered;
color: orangered;
}